<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <div class="firstToolbar">
            <button mat-raised-button [matMenuTriggerFor]="menu"  id="menu-btn">
                <i class="material-icons"> menu </i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/home" routerLinkActive="active-link" id="home-menu-btn">Home</button>
                <button mat-menu-item routerLink="/tasks" routerLinkActive="active-link" id="tasks-menu-btn">Tasks</button>
                <button mat-menu-item routerLink="/tasks/taskchild" routerLinkActive="active-link" id="task-child-menu-btn">Task-Child</button>
            </mat-menu>
        </div>
        <div class="secondToolbar"></div>
        <div class="thirdToolbar">
            <button mat-raised-button id="phone-btn">
                <i class="material-icons"> phone_forwarded </i>
            </button>
            <button mat-raised-button color="">
                <i class="material-icons">alarm</i>
            </button>
            <button mat-raised-button color="">
                <i class="material-icons"> mic_none </i>
            </button>
            <button mat-raised-button class="warn">
                <i class="material-icons"> call_end </i>
            </button>
        </div>
        <div *ngIf="isAuth()" class="clientName">Hello, {{ clientName }}</div>
        <div class="fourToolbar">
            <button mat-mini-fab (click)="viewAuthorization()" id="login-btn">
                <i class="material-icons log-out" [ngClass]="{ 'log-in': isAuth() }"> account_circle </i>
            </button>

            <mat-card class="authForm" *ngIf="isOpen">
                <app-authorization (click)="closeAuthForm($event)"></app-authorization>
            </mat-card>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
